body.app {
  margin: 0;
}

form.calculator {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-gap: 8px;
  align-items: center;
  padding: 8px;
  margin: 0;
  background-color: #282828;
  border-radius: 8px;
}

input.calculator__input::-webkit-outer-spin-button,
input.calculator__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.calculator__input,
input.calculator__result {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  background-color: transparent;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 6px 8px;
  box-sizing: border-box;
  border-radius: 4px;
  color: #FFF;
  outline: none;
  width: 100%;
}

input.calculator__input:active,
input.calculator__input:focus  {
  border-color: #135BC5;
}

input.calculator__result {
  color: rgba(255,255,255,.5);
  background-color: rgba(255,255,255,.1);
  margin: 0;
}

div.arrow-up {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #282828;
  margin: 4px auto 0 auto;
}
